<div class="{{ col|default:'col-12' }}">
    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
    {% if prefix %}
        <div class="input-group{% if field.errors %} has-validation{% endif %}">
            <span class="input-group-text">{{ prefix }}</span>
            {{ field }}
            {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
        </div>
    {% else %}
        {{ field }}
        {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
    {% endif %}
    {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
</div>
